header {
    /*background-color: #E6E6E6;*/
    background-image: url('../img/espacio.jpg');
    background-size: cover;
}

header img {
    display: block;
    margin: 0 auto;
}

.titulo-principal {
    margin-top: 0%;
    background-color: #C4C4C4;
    text-align: center;
    color: #005677;
    letter-spacing: .7rem;
}

.titulo {
    background-color: #C4C4C4;
    text-align: left;
    color: #005677;
    letter-spacing: .7rem;
}

.espacio{
    margin-bottom: 8rem;
}

.italic{
    font-style: italic;
}

span{
    font-weight: bold;
}

.sin-vineta{
    list-style: none;
}

@font-face {
    font-family: 'Cabin';
    /* Antes de descargar el archivo, le decimos al buscador
    que intente buscar en local la fuente con nombre
    Cabin, Cabin Regular o Cabin-Regular */
    src: local('Cabin'),
         local('Cabin Regular'),
         local('Cabin-Regular'),
         url(cabin-regular.woff) format('woff');
  }

.enlnav{
    font-family: 'Cabin';
    color: red;
    font-size: 20px;
}

.margen{
    margin-top: 0;
    margin-left: 5rem;
    margin-bottom: .4rem;
}

footer{
    text-align: center;
    background-color: #005677;
    word-spacing: 1.2rem;
}

.pie{
    color: white;
    word-spacing: 0rem;
    font-weight: 500;
    
}

.test{
    padding-top: .2rem;
}